SVG {
    display: block;
    margin-left: auto;
    margin-right: auto }

h1 h3 p a div{ 
        text-align: center 
    }    

.container {
        display: flex;
        justify-content: center;
        align-items: center;
      }